@media (min-width: 1280px)

    .main-header
        .container
            width: 1200px

    .welcome-card
        .container
            max-width: 1200px
            
            .heading-image
                width: 500px
                padding: 85px 10px 0 10px

    .contact-us
        .container
            flex-direction: row
            max-width: 1280px

    .about-us
        .container
            flex-direction: row
            width: 1200px
    
    .about-clinic
        width: 1200px
        margin: 40px auto  