@media  (min-width: 1536px)
    .main-header
        background-color: $white
        padding: 0 5px
        height: 75px
        box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.1)
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
        .container
            display: flex
            justify-content: space-between
            align-items: center
            width: 1240px
            margin: 0 auto

            .logo
                display: flex
                align-content: center
                font-weight: 600
                font-size: 20px
                font-weight: bold
                .logo-name
                    margin-top: 4px
                    span
                        color: $blue
                .logo-image
                    width: 40px

            .header-right
                .hamburger-menu
                    display: none
                .menu
                    display: flex
                    align-items: center
                    .menu-list
                        display: flex
                        min-width: 450px
                        justify-content: space-around
                        list-style-type: none
                        margin-right: 20px
                        &-item
                            color: $black
                            font-weight: 600
                            text-decoration: none
                            font-size: 17px
                            &:hover
                                color: $blue
                    .languages
                        display: flex
                        flex-direction: column
                        list-style-type: none
                        padding: 0 10px
    
    .about-clinic
        .about-card
            max-width: 305px

            &-image
                width: 55px
                background-color: $light-blue
                padding: 15px
                border: 1px solid #98B3FF3B
                border-radius: 4px
                margin-bottom: 20px

            &-title
                font-size: 28px
                line-height: 1em
                font-weight: 700
                letter-spacing: -1px
                margin-bottom: 20px
            
            &-content
                font-size: 16px
                line-height: 1.6
                color: $gray
                text-align: center
                font-weight: 500
    