@media (min-width: 768px) 
    .header-right
        .menu
            display: none

    .about-clinic
        display: flex
        flex-direction: row
  
    .numbers
        flex-direction: row
        padding: 35px 0

    .big-cards
        .big-cards-left
            display: flex
            flex-direction: column
            width: 100%

            .big-card
                flex-direction: row
                align-items: unset

                &-image
                    width: 81%
                    height: 300px
                
                .big-card-content
                    justify-content: center
                    width: auto
                    height: 300px
                    padding: 0 15px 0 15px
            
            .big-card-2
                flex-direction: row-reverse
                align-items: unset

                &-image
                    width: 80%
                    height: 300px
                
                .big-card-content
                    justify-content: center
                    width: auto
                    height: 300px
                    padding: 0 15px 0 15px