@media (min-width: 1024px) 
    .header-right
        .menu
            display: none

    .big-cards 
        flex-direction: row
        height: 500px
        
        .big-cards-left
            display: flex
            flex-direction: row

            .big-card
                display: flex
                flex-direction: column
                align-items: center

                &-image
                    width: 100%
                    height: 250px
                
                .big-card-content
                    display: flex
                    flex-direction: column
                    align-items: center
                    padding: 0 15px 0 15px
                    height: 250px
            
            .big-card-2
                flex-direction: column-reverse
                align-items: center

                &-image
                    width: 100%
                    height: 250px
                
                .big-card-content
                    display: flex
                    flex-direction: column
                    align-items: center
                    padding: 0 15px 0 15px
                    height: 250px

        .big-card-3
            width: 100%
            height: 500px