.contact-us
    margin: 25px 10px

    .container
        padding: 40px 20px 0px 20px
        background-color: $light-blue
        text-align: center
        display: flex
        flex-direction: column

        .heading-title
            font-size: 48px
            font-weight: 700
            text-align: center
            line-height: 1.1
            letter-spacing: -1.5px
            color: $black
            display: flex
            flex-direction: column
            margin-bottom: 20px

            span
                color: $blue
                font-weight: 700
                
        .heading-content
            font-size: 15px
            line-height: 1.6
            text-align: center
            color: $gray
            font-weight: 500
    
        .image-side
            position: relative
            padding-bottom: 20px

            .image-bg
                position: absolute
                max-width: 70%
                left:25px
                top: 140px
                transform: rotate(110deg)
                scale: 1.35
                

            .heading-image
                position: relative
                padding: 45px 10px 0 10px
                max-width: 100%
                z-index: 9